**Example1**
Print even numbers

In [0]:
def printEven(n):
  count=0;
  sum=0;
  while(count!=n):
    if(count%2==0):
      sum=sum+count;
    count=count+1;
  return sum;

print(printEven(10));

20

**Example 2** Functional Programming
Find factor list of given number

In [0]:
def factorsList(n):
  i=1;
  while(i!=n):
    if(n%i==0):
      print(i,end="");
    i=i+1;
  return ;

factorsList(12);

12346

**List in python:**

List can be written in python with square brackets and each item in the list separated by comma operator.

**Example 1** 
list1=[1,2,3,4,5]
list2=["a","b","c","d"]
lsit3=['maths','science,'physics']

In [0]:
list1=[1,2,3,4,5]
#Entire list
print(list1);
#list[0]
print(list[0]);

[1, 2, 3, 4, 5]

TypeError: ignored

**syntax**

for loop  
**Example 1:**

In [0]:
list2=["Akhil" ,"Arvind" ,"Anil" ,"Akash"];
for x in list2:
  print(x,end="");

AkhilArvindAnilAkash

**Example 2**

In [0]:
#List example with particular index
list1=[1,2,3,4,5,6,7]
for x in list1:
  print(x,end="")
  
print();
print(list1[4]);
print(list1[3:7]);
print(list1[0:7]);

1234567
5
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

**Example 3**

In [0]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
  print(x,end= "")
  
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[::2]);
print(list1[::3]);
print(list1[::-2]);
print(list1[-1]);
print(list1[-10]);

12345678910
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]
10
1

**List method **

*append: the method appends a passed object into a existing list
*count

In [0]:
list1 = ["Anil","Adrarsh","Akhil",1]
print(list1);

list1[2]= 15; #update the list item
print(list1);
del list1[3]; #delete the list item
print(list1);
list1[1]="Gitam";
print(list1);
list2=[1,2,3];
print(list2);
print(list1+list2); #concatination of both the list

['Anil', 'Adrarsh', 'Akhil', 1]
['Anil', 'Adrarsh', 15, 1]
['Anil', 'Adrarsh', 15]
['Anil', 'Gitam', 15]
[1, 2, 3]
['Anil', 'Gitam', 15, 1, 2, 3]

In [0]:
list1 = [1,2,3,4,5]
print(list1);
del list1[2];
print(list1);
#list1[4]=15;
print(len(list1));#used to check the length of list
list1.append(15);
list1.append(150);
list1.append(1);
list1.append(3);
list1.append(1);
print(list1);
print(list1.count(1));
print(list1.count(3));

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3, 1]
3
1

**List method **

**Index**: Its returns the index of passed object first occurance from the left side 

**Insert**: The insert insertes the passed object at certain index

In [0]:
list1 = ["gitam","python","raptor",1,5,"python","python"]
print(list1);
list1.index("python")#finding the index of object ib the list
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python', 'python']

**List method**

**remove**: The remove method removes the past object from the first occurance from the left direction

**reverse**: The reverse reverses the object in the list

In [0]:
list1 = ["gitam","python","Raptor",1,5,"python","pyhton"]
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)

list1.reverse()
print(list1)

['gitam', 'python', 'Raptor', 1, 5, 'python', 'pyhton']
['gitam', 'Raptor', 1, 5, 'python', 'pyhton']
['gitam', 'Raptor', 1, 5, 'pyhton']
['pyhton', 5, 1, 'Raptor', 'gitam']

**Datastructures**

They are 3 stages

**1.Search a data**: They are two types of search

1.Linear search 2.Binary search

1.**Linear search**: 
    * linear search algo can be applied on unsorted list and sorted list
    
    *linear search algo can be applied on unique list,Duplicate list
    
    ->Unique list--All items in the list appears only for once
    
    ->Duplicate list--Items in the list some time appears more than once
    *linear search starts from left direction.

In [0]:
def linearSearch(a,tarItem):
  flag=0;
  for i in range(len(a)):
    if a[i] == tarItem:
      flag=1;
      break
  if(flag!=0):
    print("Target item is found")
  else:
    print("Target item is not found")
    
a=[12,24,36,48]
linearSearch(a,12)
linearSearch(a,22)

Target item is found
Target item is not found

In [0]:
def linearSearchDuplicate(a,tarItem):
  flag=0;
  for i in range(len(a)):
    if a[i] == tarItem:
      flag=flag+1
  
  print(flag)
  
a=[9,1,6,1,5,9,15,16]
linearSearchDuplicate(a,9)

2

**Linear search examples**

**Example 1**

**input**:List

**Output**:Indexes of target item

In [0]:
def linearExample1(a,tarItem):
  for i in range(len(a)):
    if a[i] == tarItem:
      print(i,end="")
    
      

a=[1,5,9,6,5,15,12,5]
linearExample1(a,5)

147

**Example 2**

**Input**: A list

**output**:A sequence of characters

In [0]:
def linearExample2(a,tarItem):
  for i in range(len(a)):
    if a[i] == tarItem:
      j=0
      while j!=i+1:
        print("!",end=" ")
        j=j+1
      print(end=" ")
      
a=[1,5,9,6,5,15,12,5]
linearExample2(a,5)

! !  ! ! ! ! !  ! ! ! ! ! ! ! !

**Example 3**

**Input**: List

**Output**:As per the given 

-> A list item should be perfect multiple of 3&5

-> Sum of all the list items which is perfect multiple of 3&5

In [0]:
def linearExample3(a):
  sum=0;
  for i in range(len(a)):
    if a[i]%3==0 and a[i]%5==0:
      sum=sum+a[i]
      
  return sum

a=[15,12,2,9,18,36,45]
print(linearExample3(a))

60

**Example 4**

**Input**: List

**Output**:Formatted output

In [0]:
def linearExample4(a):
  for i in range (len(a)):
    if i==0 or i==(len(a) - 1):
      print(a[i],end=" ");
    else:
      print(a[i-1] * a[i+1],end=" ")
      
  
  
  
a=[1,2,3,4,5]
linearExample4(a);

1 3 8 15 5

**Example 5**

**Input**: List

**Output**:Formatted output 

**first and last items to be printed as it is.

**for the middle items need to check both sides of the number is even or odd . if it is even then print item otherwise skip that item

In [0]:
def linearExample5(a):
  for i in range(len(a)):
    if i==0 or i==(len(a)-1):
      print(a[i],end=" ")
    elif a[i-1]%2==0 and a[i+1]%2==0:
      print(a[i],end=" ")

a=[1,6,9,4,16,19,22]
linearExample5(a)

1 9 19 22

**Example 6**

**Input**:A number

**Output**:List

In [0]:
def numberToListConversion(n):
  list1=[]
  while n!=0:
    r=n%10
    list1.append(r)
    n=n//10
  list1.reverse()
  print(list1)
    
numberToListConversion(14569)
numberToListConversion(1974)

[1, 4, 5, 6, 9]
[1, 9, 7, 4]

In [0]:
def numberToListConversion(n):
  list1=[]
  while n!=0:
    r=n%10
    list1.append(n%10)
    n=n//10
  list1.reverse()
  return list1
    
n= int(input("Enter a number"))   
print(numberToListConversion(n))

Enter a number14569
[1, 4, 5, 6, 9]

**Q1**  List to number conversion

1.[1,4,5,6,9]-- 14569

2.[1,4,5,6,9]--46(you have consider only even in the list)

3.14569--[4,6](you have consider only even digits to list)

4.[1,2,3,4,5]--[1,4,3,16,5]

5.[15,19,12,16,4]--[15,34,31,28,4 ]

In [0]:
list1=[1,4,5,6,9]
sum=0;
for i in range(len(list1)):
  sum=(sum*10)+list1[i]
  print(sum)

1
14
145
1456
14569

In [0]:
def evenlist(n):
  list=[]
  while n!=0:
    if(n%2==0):
      list.append(n%10)
    n=n//10
    list.reverse()
    print(list)
    
n=int(input("Enter a number"))
evenlist(n)

Enter a number14569
[]
[6]
[6]
[4, 6]
[6, 4]

In [0]:
def linearProblem(a):
  print(a)
  list=[]
  for i in range(0,len(b)):
    if(i==0 or i==len(a)-1):
      list.append(a[i])
    else:
      list.append(a[i-1]+a[i])
    return list
  
size=int(input("enter size"))
b=[]
for i in range(0,size):
  b.append(int(input("enter number=")))
  linearProblem(b)

enter size5
enter number=15
[15]
enter number=19
[15, 19]
enter number=12
[15, 19, 12]
enter number=16
[15, 19, 12, 16]
enter number=4
[15, 19, 12, 16, 4]